<div id="article-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Active</th>
          </tr>
          </thead>
          <tbody>
          <tr (click)="onRowClick(i)" *ngFor="let article of articles; let i = index"
              [ngClass]="{'table-info': article.id === activeArticle.id}">
            <td>{{article.id}}</td>
            <td>{{article.name}}</td>
            <td>{{article.price}}</td>
            <td>{{article.active}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h5>Edit Article</h5>
        <form (ngSubmit)="onSave()" *ngIf="activeArticle" [formGroup]="form">
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="id">Number:</label>
            <div class="col-sm-9">
              <input [(ngModel)]="activeArticle.id" class="form-control-plaintext" formControlName="id" id="id" readonly type="text"/>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="name">Name:</label>
            <div class="col-sm-9">
              <input [(ngModel)]="activeArticle.name" class="form-control" formControlName="name" id="name" type="text"/>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="price">Price:</label>
            <div class="col-sm-9">
              <input [(ngModel)]="activeArticle.price" class="form-control" formControlName="price" id="price" type="text"/>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="active">Active:</label>
            <div class="col-sm-9">
              <input [(ngModel)]="activeArticle.active" class="form-check-input" formControlName="active" id="active" type="checkbox"/>
            </div>
          </div>
          <div class="form-group mt-3">
            <button class="btn btn-primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
